{% extends 'Helpline_Portal/base.html' %}

{% block title %}500 Error | Student Helpline Portal{% endblock %}

{% block body %}
<section class="fill-viewport">
  <div class="container">
    <div class="row fill-viewport align-items-start">
      <div class="col-12 col-md-6 mx-auto mt-5 text-center">
        <h1 class="text-dark display-1">500</h1>
        <p class="lead pb-3">Oops looks like something went wrong.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'Helpline_Portal:about' %}" role="button">Go to our home page</a>
      </div>

    </div>

  </div>
	
	
		
</section>
{% endblock %}