{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'Helpline_Portal/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'Helpline_Portal/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'Helpline_Portal/css/fontawesome/css/all.css' %}">
	<link rel="shortcurt icon" type="image/png" href="{% static 'Helpline_Portal/favicons/favicons.png' %}">
<!-- <img src='{% static "Helpline_Portal/images/My_Image.jpg" %}'>-->
</head>
	<body>

		{% block body %}
		{% endblock %}

		<main role="main" class="container">
			{% block logout %}{% endblock %}
		</main>

	</body>

</html>
