{% extends 'Helpline_Portal/base.html' %}

{% block title %}Login{% endblock %}

<body>
	{% block body %}
	<div class="wrapper fadeInDown">
	    <div id="formContent">

	      <form method="post">

	        <div class="head">
	          <h3>Login</h3>
	        </div>

		   {% csrf_token %}

		   {% if form.errors %}
		       <p>Your name and username didn't match.</p>
		   {% endif %}

		   {{ form.username.label_tag }}
		   {{ form.username }}

		   {{ form.password.label_tag }}
		   {{ form.password }}

    		<br><br>

		   <div class="Next-Form" id="Next">
				<button type="submit" class="btn btn-secondary col">Login <i class="fas fa-sign-in-alt"></a></i></button><br><br>
              	<!-- <input type="hidden" name="next" value="#{% url 'Helpline_Portal:register' %}#"> -->
           </div>


	      <div id="formFooter">
	        <a class="underlineHover" href="{% url 'Helpline_Portal:register' %}">Don't have an account.?</a>
	      </div>

	    </form>
	    </div>
    </div>
	{% endblock %}
</body>
</html>
