{% extends 'Helpline_Portal/base.html' %}

<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
</head>

<body>
	{% block body %}
	<div class="wrapper fadeInDown">
	    <div id="formContent">

	      <form method="post">
	        <div class="head">
	          <h4>Login</h4>
	        </div>
	        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" required>
	        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" required>
	        <a name="submit" href="{% url 'Helpline_Portal:index' %}" class="btn btn-secondary" >Login <i class="fas fa-sign-in-alt"></a></i>
	      </form>

	      <div id="formFooter">
	        <a class="underlineHover" href="{% url 'Helpline_Portal:signup' %}">Don't have an account.?</a>
	      </div>

	    </div>
    </div>
	{% endblock %}
</body>
</html>
