{% extends 'Helpline_Portal/base.html' %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	{% block body %}
		  <div class="wrapper fadeInDown">
    <div id="formContent">

      <form method="post">
        <div class="head">
          <h4>Sign up</h4>
        </div>
      <div class="Signup-Form">
          <input type="text" id="First" class="fadeIn first" name="First" placeholder="username" required>
          <input type="password" id="password" class="fadeIn second" name="password" placeholder="password" required>
          <input type="text" id="regno." class="fadeIn third" name="regno" placeholder="reg number" required>
	      <input type="number" id="number" class="fadeIn third" name="level" placeholder="level" required>
        </div>
        <div class="Next-Form" id="Next">
            <a name="submit" href="{% url 'Helpline_Portal:login' %}" class="btn btn-secondary" >Create</a>
        </div>
      </form>

      <div id="formFooter">
        <a class="underlineHover" href="{% url 'Helpline_Portal:login' %}">Already have an account.?</a>
      </div>

    </div>
  </div>
	{% endblock %}

</body>
</html>