{% extends 'Helpline_Portal/base.html' %}

{% block title %}Staff~Login{% endblock %}

	{% block body %}
	<div class="wrapper fadeInDown">
	    <div id="formContent">

	      <form method="post">

	        <div class="head">
	          <h3>Staff Login</h3>
	        </div>

		     <div class="Login-Form">

		        {% csrf_token %}

		        {% if form.errors %}
		       		<p>Your name and username didn't match.</p>
		   		{% endif %}
		      	
		      	{{ form.username.label_tag }}
		      	{{ form.username }}

		      	{{ form.password.label_tag }}
		      	{{ form.password }}<br><br>
		      </div>

	      	<div class="Next-Form" id="Next">
			  <button type="submit" class="btn btn-secondary col">Login <i class="fas fa-sign-in-alt"></a></i></button><br><br>
	          <input type="hidden" name="next" value="#{% url 'Helpline_Portal:staff_register' %}#">
			</div>
		       </form>
	      <div id="formFooter">
	        <a class="underlineHover" href="{% url 'Helpline_Portal:staff_register' %}">Don't have an account.?</a>
	      </div>

	   	

	    </div>
    </div>
	{% endblock %}
</body>
</html>
