{% extends 'Helpline_Portal/base.html' %}

<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
</head>

<body>
	{% block body %}
	<div class="wrapper fadeInDown">
	    <div id="formContent">

	      <form method="post">

	        <div class="head">
	          <h3>Staff Login</h3>
	        </div>

	        {% csrf_token %}
	      	{{ form.as_p }}
	       
    	<input type="submit" />
	      <div id="formFooter">
	        <a class="underlineHover" href="{% url 'Helpline_Portal:staff_registration' %}">Don't have an account.?</a>
	      </div>

	    </div>
    </div>
	{% endblock %}
</body>
</html>
