{% extends 'Helpline_Portal/base.html' %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	{% block body %}
	<div class="wrapper fadeInDown">
	    <div id="formContent">

	      <form method="post">
	        
	        <div class="head">
	          <h3>Staff Registration</h3>
	        </div>
	      <div class="Signup-Form">
	      	{% csrf_token %}
			{{ form.as_p }}
	        <div class="Next-Form" id="Next">
	        	<input type="submit" />
	        </div>
	      </form>

	      <div id="formFooter">
	        <a class="underlineHover" href="{% url 'Helpline_Portal:staff_login' %}">Already have an account.?</a>
	      </div>

	    </div>
	 </div>
	{% endblock %}

</body>
</html>
