{% extends 'Helpline_Portal/basetopbar.html' %}

{% block title %}Courses | Student Helpline Portal{% endblock %}
	{% block body %}
		{% if categories %}
			<div class="divider mb-4"></div>	  
				<div class="input-icons" style="padding-top: 0; float: right;">
					<form method="get">
						<i class="fa fa-search icon fa-lg"></i>
						<input type="text" class="input-field" name="q" id="id_q" placeholder="Search Course...">
					</form>
				</div>
		{% endif %}
		<div class="jumbotron" style="background-color: white; padding-left: 100px; padding-right: 100px; padding-top: 80px;">
			<div class="row" id="rows" style="height: 400px;">
				{% for category in categories %}
					<div class="col-md-4">
						<a style="color: gray;" href="{% url 'Question_Answer:cart_questions' category.id %}">
							<div class="card" style="min-height: 180px;">
								<div class="card bg-light col-12" id="categories" style="min-height: 180px;">
									<div class="card-header text-center" id="cat-title">
										<h3>{{ category.title }}</h3>
									</div>							
									<div class="card-body text-center" id="cat-text">
										<p class="card-text">{{ category.description }}</p>
									</div>
								</div>					
							</div>
							<div class="divider mb-4"></div>
						</a>
					{% empty %}
						<div class="container" style="padding-top: 100px;">
							<div class="divider mb-4"></div>
							<div class="jumbotron">
								<div class="card-text text-center">
									<p>There are no categories matches ({{ query }})</p>
								</div>
							</div>
						</div>
					{% endfor %}
			</div>	
			<script type="text/javascript">
				document.GetElementById("id_q").value = "{{ query }}"
			</script>
	{% endblock %}
</body>