{% extends 'Helpline_Portal/base.html' %}


{% block title %}Chat~Index | Student Helpline Portal{% endblock %}

<body>
	
	{% block body %}
		<header class="topnav" id="myTopnav">
      <a style="padding-top: 25px;" href="{% url 'Helpline_Portal:logout' %}">Logout <i class="fa fa-sign-out-alt nav-icon fa-x"></i></a>
      <a style="padding-top: 25px;" href="{% url 'Helpline_Portal:accountSettings' %}">Settings <i class="fa fa-user-cog setting-icon"></i></a>      
      <li class="navPic" style="padding-top: 5px; list-style: none; padding-left: 18px;">
        <img src="{{ user.profile.avatar.url }}" style="border-radius: 50%" height="40px" width="40px">
      </li>
      {% if request.user.is_authenticated %}
        <h5 style="padding-left: 10px;">{{ user }}</h5>
      {% endif %}
		</header>
		<div class="divider mb-4"></div>
	  	<div class="view-categories">		
	  		<button type="button" class="btn btn-secondary" style="background-color: lightgray"><h5><a href="{% url 'Question_Answer:categories' %}">View Courses <i class="fa fa-cubes nav-icon fa-x"></i></a></h5></button>
	  	</div>
	  	<br>
      {% for question in questions %}
        {% if user.is_authenticated and user.profile.is_teacher and question.category.lecturer == request.user %}
          <div class="container mt-4">
            <h5 style="float: right; padding-top: 40px;">
              {{question.pub_date|timesince }} ago
            </h5>
            <div class="user-pic">
              <img src="{{ question.owner.profile.avatar.url }}" style="border-radius: 50%" height="40px" width="40px"><h5>{{ question.owner.username.title|linebreaks }} </h5></i>
            </div>               
            <a href="{% url 'Question_Answer:question' question.id %}" style="color: black;">
              <div class="card" style="border: 2px solid lightgray">                
                <div class="card-header text-center">
                  <div class="text-right">
                    <span>({{ question.num_answers }} answer)</span>
                  </div>                  
                  <h3 class="col col-xl-12">{{ question.question_title|linebreaks }}</h3><h4>({{ question.category.title }})</h4>
                </div>
                  <div class="card-body text-center" style="height: 150px;" id="text-box">	
                    <h5>{{ question.question_text|linebreaks }}</h5>
                  </div>
              </div>
            </a>
            <div class="row">
              <div class="col text-right mt-2 mr-1" id="answer-question">
                <h5><a href="{% url 'Question_Answer:answer_question' question.id %}">reply</a><h5>
              </div>
            </div>
          </div>
        {% else %}
        <!-- Do nothing -->
        {% endif %}
        {% if user.is_authenticated and user.profile.is_student %}
          <div class="container mt-4 mb-4">
            <h5 class="float-right mt-4">
              {{question.pub_date|timesince }} ago
            </h5>
            <div class="user-pic">
              <img src="{{ question.owner.profile.avatar.url }}" style="border-radius: 50%" height="40px" width="40px"><h5>{{ question.owner.username.title|linebreaks }} </h5></i>
            </div>               
            <a href="{% url 'Question_Answer:question' question.id %}" style="color: black;">
              <div class="card" style="border: 2px solid lightgray">                
                <div class="card-header text-center">
                  <div class="text-right">
                    <span>({{ question.num_answers }} answer)</span>
                  </div>                  
                  <h3 class="col col-xl-12">{{ question.question_title|linebreaks }}</h3><h4>({{ question.category.title }})</h4>
                </div>
                <div class="card-body text-center" style="height: 150px;" id="text-box">	
                  <h5>{{ question.question_text|linebreaks }}</h5>
                </div>
              </div>
            </a>
            <div class="row ml-0">
              {% if request.user == question.owner and question.num_answers == 0 %}
                <div class="mt-2">
                  <a href="{% url 'Question_Answer:edit_question' question.pk %}">
                    <button class="btn btn-outline-success mr-1" style="width: 45px; padding: 2px;">edit</button>
                  </a>			
                </div>
                <div class="mt-2">
                  <a href="{% url 'Question_Answer:delete_question' question.pk %}">
                    <button class="btn btn-outline-danger mr-3" style="width: 50px; padding: 2px;">delete</button>
                  </a>
                </div>            
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% empty %}
          <div class="container" style="padding-top: 100px;">
            <div class="divider mb-4"></div>
            <div class="jumbotron">
              <div class="card-text text-center">
                <h1>There are no questions yet</h1>
              </div>
            </div>
          </div>
      {% endfor %}
	{% endblock %}

</body>