body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

/* Index TopNavigation bar styles*/
.topnav {
  overflow: hidden;
  background-color: lightgray;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightgray;
  color: black;
}

.topnav .icon {
  display: none;
}

/*Stop here*/
main {
  padding-top: 100px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80%;
  padding: 20px;
}

.Next-Form button {
  width: 200px;
}

.button1 {
  float: left;
}

.view-categories {
  float: right;
  padding-right: 10px;
}

.view-categories a {
  color: black;
}

.view-categories a:hover {
  color: gray;
}

.card-columns {
  padding-left: 20px;
  padding-top: 20px;
}

#see-answers a {
  color: #111;
}

#see-answers a:hover {
  color: gray;
}

#answer-question a {
  color: #111;
}

#answer-question a:hover {
  color: gray;
}

.ask-question {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

.ask-question a {
  color: black;
}

.ask-question a:hover {
  color: gray;
}
.input-icons i { 
  position: absolute; 
  padding-top: 25px;
  padding-left: 20px;
} 
  
.input-icons { 
  width: 300px; 
  margin-bottom: 10px; 
} 
  
.icon { 
  min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
} 

.form-control {
  width: 100%;
  text-align: center;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

#question-form {
  border: 3px solid #f6f6f6;
  border-radius: 10px;
  width: 340px;
  height: 600px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);

}

#profile-settings {
  border: 3px solid #f6f6f6;
  border-radius: 10px;
  width: 340px;
  height: 600px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

/*Style for form header*/
#formContent {
  background-size: cover;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.head {
	background-color: lightgray;
  	padding: 25px;
  	text-align: center;
  	-webkit-border-radius: 0 0 10px 10px;
  	border-radius: 10px 10px 0 0;
}

/*Style for form footer*/

#formFooter {
	background-color: lightgray;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}


#formFooter a {
	color: black;
}


input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=select] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=select]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder, input[type=password]:placeholder, input[type=email]:placeholder, input[type=select]:placeholder {
  color: #cccccc;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
    outline: none;
}

